apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-ingress-nginx
  namespace: argocd
spec:
  project: platform
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.14.3
    helm:
      releaseName: ingress
      values: |
        controller:
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          service:
            type: LoadBalancer
          admissionWebhooks:
            enabled: true
          metrics:
            enabled: true
            serviceMonitor:
              enabled: true
              namespace: monitoring
              additionalLabels:
                release: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
